body {
    font-family: 'Courier New', Courier, monospace;
}

.min-card-size {
    min-height: 300px;
}

.base-background-color {
    background-color: #cae1e2;
}

.base-card-background-color {
    background-color: #dfe8e8;
}

.second-card-background-color {
    background-color: #cbe6af;
}

.card-bg-incident {
    background-color: rgb(245, 87, 87);
}

.base-font-color {
    color: #000000;
}

.base-border-color {
    border-color: #6175895b !important;
}